
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Global styles
body {
    background: #F7F7F7;
}

header {
    background: white;
    height: 125px;
    box-shadow: 15px 11px 30px -19px #9e9e9e;
}

button {
     border: 1px solid #D3D3D3;
     background: white;
     border-radius: 10px;
     margin: 5px;
 }
 button:hover {
     color: #4285f4;
     border: 1px solid #4285f4;
     background: white;
     border-radius: 10px;
     margin: 5px;
 }

 h2, h5 {
     font-weight: bold;
     padding-left: 10px;
 }

 h2 {
     font-size: 24px;
 }

 h5 {
     font-size: 18px;
 }

 .btn:hover {
     background: #4285f4;
 }

// Header Styles

.top-nav, .bottom-nav {
    display: flex;
    flex-direction: row;
}

.hamburger {
    flex: 1;
    margin-top: 5px;
    margin-right: 30px;
    button {
        color: #616161;
        padding: 15px;
        border: none;
    }
        button:hover {
        background: #EEEEEE;
        border-radius: 35px;
        padding: 15px;
    }
    img {
        width: 90px;
    }
    a {
        color: #949494;
        font-size: 22px;
        font-weight: bold;
    }
    a:hover {
        text-decoration: none;
    }
}


.search-bar {
    flex: 4;
    white-space: nowrap;
    position: relative;
    margin-top: 10px;
    input {
        width: 700px;
        height: 50px;
        background: #F7F7F7;
        border: none;
        font-size: 16px;
        padding-left: 45px;
        border-radius: 2px;
        transition: .55s ease;
    }
    .icon {
        position: absolute;
        top: 22%;
        margin-left: 17px;
        z-index: 1;
        color: #9e9e9e;
    }
    input:focus, input:active {
        outline:none;
        background: #ffffff;
        border: 1px solid #9e9e9e;
    }
}


.side-nav {
    margin-top: 15px;
    i, a, img {
        margin-right: 20px;
        color: #616161;
    }
    img {
        border-radius: 30px;
    }
    a:hover {
        color: #4285f4;
    }
}


.bottom-nav {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    padding-left: 400px;
    .links {
        flex:5;
    }
    .icon {
        flex: 1;
        text-align: right;
        margin-right: 30px;
        color: #616161;
    }
    a {
        font-size: 14px;
        padding-right: 40px;
        text-decoration: none;
        font-weight: bold;
        color: #757575;
    }
    a:hover {
        color: #4285f4;
    }
}



// Body styles
.body {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.sections {
    flex: 1;
    padding-right: 20px;
    ul {
        list-style: none;
        padding-left:0;
    }
    li {
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 10px;
    }
    li:hover {
        background: #EEEEEE;
    }
    i {
       padding-right: 20px;
   }
   a {
       color: #616161;
   }
   a:hover {
       text-decoration: none;
       color: #212121;
   }
}

.stories {
    margin: 15px;
    flex: 4;
}

.right-column {
    flex-wrap: wrap;
    margin-top: 22px;
}

.in-the-news, .recent, .calgary {
    flex: 1;
    width: 250px;
    border: 1px solid #D3D3D3;
    box-shadow: 15px 11px 30px -19px #D3D3D3;
    margin-bottom: 20px;
    background: white;
    padding: 10px;
}

.articles {
    display: flex;
    flex-direction: column;
    border: 1px solid #D3D3D3;
    background: white;
    margin-bottom: 10px;
    padding: 15px;
    .image {
        flex: 1;
    }
    .content {
        flex: 2;
    }
}
.content, .recent, .calgary {
    a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    a:hover {
        text-decoration: underline;
        color: #4285f4;
    }
    .text {
        color: #616161;
        font-size: 12px;
    }
    h6 {
        font-size: 18px;
    }
    h6, .text {
        line-height: 90%;
    }
    .title {
        font-size: 14px;
    }
}

h2 i{
    color: #616161;
}

.weather {
    text-align: center;
}

.user-article {
    padding-top:50px;
}
